.swiper {
  width: 600px;
  height: 300px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}
.swiper-pagination-bullet-active {
  background: blue;
}

.swiper-scrollbar {
  background-color: blue;
}
